@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #EFE9DE;
  --foreground: #171717;
  --primary: #067A46;
  --secondary: #B5E7BA;
  --highlight: #BBF06A;
  --foreground-elements: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --color-foreground-elements: var(--foreground-elements);
  --font-sans: 'Source Sans Pro', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Source Sans Pro', sans-serif;
}
